# Configuration file for P2-RPi-ioT-gw-daemon
# Source: https://github.com/ironsheep/P2-RPi-ioT-gateway
#
# Uncomment and adjust all settings as needed.
#
# Some settings can be configured by environment variables.
# If an env variable is set, it takes precedence over settings in this file

[Daemon]

# Enable or Disable an endless execution loop (Default: true)
#enabled = true

# This script reports RPi values at a fixed interval in minutes [2-30], [Default: 5]
#interval_in_minutes = 5

# default domain to use when hostname -f doesn't return a proper fqdn
#fallback_domain = home

[EMAIL]

# email transport is supported in two forms:
#  use_sendgrid: true/false
#   False means directly use the sendmail app
#   True means to use an external sendgrid account (this requires that the 'sendgrid_api_key' be configured!)
#
# by default (use_sendgrid = false) we use the sendmail(1) built-in command
#
#  uncomment the use_sendgrid, sendgrid_api_key, & sendgrid_api_key to enable use of SendGrid account
#   and, of course, fill in your own API key and From email address!

# use_sendgrid = true
# sendgrid_api_key = {api_key}
# sendgrid_from_addr = {sendgridFromAddress}

[MQTT]

# The hostname or IP address of the MQTT broker to connect to (Default: localhost)
# Also read from the MQTT_HOSTNAME environment variable
#hostname = localhost

# The TCP port the MQTT broker is listening on (Default: 1883)
# Also read from the MQTT_PORT environment variable
#port = 1883

# Maximum period in seconds between ping messages to the broker. (Default: 60)
#keepalive = 60

# by default Home Assistant listens to the /homeassistant but it can be changed for a given installation
#  likewise, by default this script advertises on the same default topic. If you use a different
#  discovery prefix then specify yours here.  [default: homeassistant]
#discovery_prefix = homeassistant

# NOTE: The MQTT topic used for this device is constructed as:
#  {base_topic}/{sensor_name}
#
# The MQTT base topic under which to publish the Raspberry Pi sensor data topics.
#base_topic = home/nodes

# The MQTT name for this Raspberry Pi as a sensor
#sensor_name = rpi-{hostname}


# The MQTT broker authentication credentials (Default: no authentication)
# Will also read from MQTT_USERNAME and MQTT_PASSWORD environment variables
#username = user
#password = pwd123

# Enable TLS/SSL on the connection
#tls = false

# Path to CA Certificate file to verify host
#tls_ca_cert =

# Path to TLS client auth key file
#tls_keyfile =

# Path to TLS client auth certificate file
#tls_certfile =
